/assets/*
!/assets/.keep

/storage/*
!/storage/.keep

/protected/runtime/*
!/protected/runtime/.keep

/protected/tests/report/*
!/protected/tests/report/.keep

/protected/tests/screenshots/*
!/protected/tests/screenshots/.keep

/vendor/*

/.project
/.metadata
/CHANGELOG
*.db
*.sublime-project
*.sublime-workspace
*.sublime-workspace
